/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);
body {
	background-image: url(../img/texture-light.ping);
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px; 
	padding: 10px;
}

.main-pagebox {
	width: 80%;
	background-color: FFF;
	margin: 0 auto; /*Horizontal centering*/
	box-shadow: 1px 1px 3px;
}

.company {
	font-family: 'Boogaloo';
	font-size: 36px;
	color: #116189; 
}

.motto {
	font-family: 'Open Sans', sans-serif;
	font-size: 120%;
}

.motto:hover {
	color: #FF9D45;
}

nav ul {
	background-color: #D74710;

}

nav li {
	display: inline-block;
}

.factory {
	float: left;
	margin-right: 20px;
}

.shipping {
	float: right;
	margin-left: 20px
}

.footer {
	border-style: solid;
	border-top: double thick #C0C0C0;
	font-size: 80%;
}

.copyright {
	font-size: 80%;
}

.story {
	font-family: 'Boogaloo';
	color: #116189;
	font-size: 36px;
}

.team {
	font-family: 'Boogaloo';
	color: #116189;
	font-size: 36px;
}

.person {
	float: left;
	margin-right: 20px;
}

.names{
	font-family: 'Boogaloo';
	font-size: 20px;
	color: #116189;
}